#main__contact {
  background-color: var(--color-pink);
  min-height: 540px;
}

.contact.section__container {
  padding: 3rem 0;
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__email i {
  margin-right: 1rem;
}

.contact__links {
  font-size: var(--font-large);
}

.contact__links span {
  font-weight: var(--weight-bold);
}

.contact__links i,
.contact__links span {
  cursor: pointer;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover,
.contact__links span:hover {
  color: var(--color-orange);
  transform: scale(1.1);
}

.fa-arrow-up {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 50px;
  color: var(--color-white);
  background-color: var(--color-dark-pink);

  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  pointer-events: none;
}

.fa-arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

